@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
*, *::before, *::after{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --primary-dark-magenta: #502050;
    --primary-pink: #ee68a4;
    --dark-grey-magenta: #937b92;
    --light-grey-magenta: #f7f2f7;
}

html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    background: url('./images/bg-pattern-top-desktop.svg') left top no-repeat, url('./images/bg-pattern-bottom-desktop.svg') right bottom no-repeat;
    color: var(--primary-dark-magenta);
    font-family: "Spartan", sans-serif;
    font-size: 1em;
    font-weight: 400;
    overflow-x: hidden;
}

.container{
    position: relative;
    margin: 0 auto;
    padding: 0 1 rem;
    width: 90%;
    max-width: 1440px;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 127px;
}

.content .content_desc{
    max-width: 654px;
}

.content .content_desc .content_desc--title{
    font-size: 4em;
    line-height: 1;
}

.content .content_desc .content_desc--description{
    margin-top: 1em;
    color: var(--dark-grey-magenta);
    font-size: 1.3125em;
    line-height: 1.3;
}

.content .content_ratings{
    display: flex;
    flex-direction: column;
}

.content .content_ratings .content_ratings--reviews{
    display: flex;
    margin-top: 1.5em;
    padding: 18px 30px;
    font-weight: 700;
    line-height: 18px;
    background-color: var(--light-grey-magenta);
    border-radius: 10px;
}

.content .content_ratings .content_ratings--reviews  p{
    margin-left: 1.75em;
}

.content .content_ratings .content_ratings--reviews:nth-child(1){
    margin: 1.5em 92px 0 0;
}
.content .content_ratings .content_ratings--reviews:nth-child(2){
    margin: 1.5em 46px 0 46px;
}

.content .content_ratings .content_ratings--reviews:nth-child(3){
    margin: 1.5em 0 0 92px;
}

.cards-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 75px 0 75px 0 ;
}

.cards-content .cards{
    padding: 40px 32px 45px 35px;
    height: 100%;
    width: 349px;
    background-color: var(--primary-dark-magenta);
    font-size: 15px;
    border-radius: 10px;
}

.cards-content .cards:nth-child(1){
    margin-top: 1em;
}

.cards-content .cards:nth-child(2){
    margin-top: 2.5em;
}

.cards-content .cards:nth-child(3){
    margin-top: 4em;
}

.cards-content .cards .cards_header{
    display: flex;
    flex-direction: row;
}

.cards-content .cards .cards_header .cards_img{
    margin-right: 22px;
}

.cards-content .cards .cards_header .cards_img img{
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.cards-content .cards .cards_header .cards_header-description{
    display: flex;
    flex-direction: column;
}

.cards-content .cards .cards_header .cards_header-description .cards--title{
    color: var(--light-grey-magenta);
    font-weight: 500;
}

.cards-content .cards .cards_header .cards_header-description .cards--subtitle{
    color: var(--primary-pink);
    font-weight: 400;
}

.cards-content .cards .cards_description{
    margin-top: 30px;
    color: var(--light-grey-magenta);
    font-weight: 400;
    line-height: 1.2;
}

.attribution{
    text-align: center;
}

.attribution a{
    color: var(--primary-pink);
}

.attribution a:hover{
    color: var(--primary-dark-magenta);
}

@media screen and (max-width:1532px){
    .cards-content{
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width:1353px){
    .container{
        padding: 2em 0;
    }
    .content{
        justify-content: center;
    }
    .content .content_desc .content_desc--title .content_desc--description{ 
        text-align: center;
    }
    
}

@media screen and (max-width:1312px){
    .content .content_ratings .content_ratings--reviews:nth-child(1){
        margin-top: 1em;
    }
    .content .content_ratings .content_ratings--reviews:nth-child(2){
        margin-top: 1em;
    }
    .content .content_ratings .content_ratings--reviews:nth-child(3){
        margin-top: 1em;
    }
}

@media screen and (max-width:980px) {
    html, body{
        background: url('./images/bg-pattern-top-mobile.svg') left top no-repeat, url('./images/bg-pattern-bottom-mobile.svg') right bottom no-repeat;
    }
    .attribution{
        font-size: .775em;
        margin-bottom: 75px;
    }
    .content{
        margin-top: 2em;
    }
    .content .content_desc .content_desc--title{
        font-size: 2.01875em;
    }
    .content .content_desc .content_desc--description{
        margin-top: 20px;
        font-size: .875em;
    }
    .content .content_ratings .content_ratings--reviews{
        flex-direction: column;
        align-items: center;
    }
    .content .content_ratings .content_ratings--reviews p{
        margin-top: 5px;
    }
    .content .content_ratings .content_ratings--reviews:nth-child(1){
        margin: 1.5em 0 0 0;
    }
    .content .content_ratings .content_ratings--reviews:nth-child(2){
        margin: 1.5em 0 0 0;
    }
    .content .content_ratings .content_ratings--reviews:nth-child(3){
        margin: 1.5em 0 0 0;
    }
    .cards-content{
        font-size: 1em;
    }
}





